@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
}

:root {
  --white: hsl(0, 0, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--light-gray);
  height: calc(100% - 30px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-block: 2rem;
}

.card__text-title h1 {
  font-weight: bold;
  color: var(--dark-blue);
  font-size: 2rem;
}

.card__text-description {
  color: var(--grayish-blue);
}

.card__image img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

footer {
  height: 30px;
  background-color: var(--grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.2rem;
  color: var(--dark-blue);
}